@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* .sidebar {
    background-color: rgb(201, 201, 201);
    width: 250px;
    font-family: 'PT Sans Caption', sans-serif;
    height: 100vh;
} */

/* .sidebar nav {
    padding: 20px;
}

.sidebar nav li {
    list-style: none;
    font-size: 19px;
    padding: 35px 0;
}

.sidebar nav li a {
    text-decoration: none;
       color: #141c3a;
} */

.main {
    /* background-color: yellow; */
    width: 98vw;
    display: flex;
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: red; */
    /* height: 43vh; */
    /* width: 98hw; */
    margin-top: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name {
    font-size: 3.8rem;
    font-weight: bold;
    color: #141c3a;
    font-family: 'Syne', sans-serif;
    text-align: center;
}

.about {
    font-size: 1.4rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    padding-top: 2.188rem;
}
.a1:hover{
    color:  #6E07F3;
    cursor: pointer;
}
.Img{
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
}
.Img img{
    height: 17rem;
}

/* .buttons{

} */
.buttons button {
    padding: 0.563rem 0.938rem;
    border-radius: 0.563rem;
    color: black;
    background-color: rgb(201, 201, 201);
    font-weight: bold;
    font-size: 0.688rem;
    margin: 0.563rem 0.375rem;
    cursor: pointer;
    border-width: 0rem;
    transition: background-color 1s, color 1s;
    -webkit-border-radius: 0.563rem;
    -moz-border-radius: 0.563rem;
    -ms-border-radius: 0.563rem;
    -o-border-radius: 0.563rem;
}

.buttons button:hover {
    color: white;
    background-color: #6E07F3;

}

.devPic img {
    /* height: 8rem; */
}

.logo {

    /* background-color: red; */
    display: inline-block;
}

.logo img {
    height: 4rem;
    padding-left: 7.875rem;
    padding-top: 1.5rem;
}
li .logo{
    float: left;
}

.Tabs {
    padding-top: 2.25rem;
    padding-right: 3.125rem;
    font-family: 'DM Sans', sans-serif;
}
nav ul{
    float:right;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li a:hover{
    color:  #6E07F3;;
}
.Tabs li {
    
    padding-left: 1.875rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.125rem;
    display: inline-block;
    justify-content: center; 
}

.Tabs li button {
    padding: 0.625rem;
    font-size: 1.125rem;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
    background-color: transparent;
    color: #6E07F3;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    border-width: 0.125rem;
    border-color: #6E07F3;
    border-radius: 1.875rem;
}

.Tabs button:hover {
    transition: background-color 0.5s, color 0.5s;
    color: white;
    background-color: #6E07F3;
}
.webImg{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.webImg img{
    height: 33rem;
}
.coloredBg{
    width: 100;
    height: 31rem;
    background-color: #6E07F3;
    padding-top: 26vh;
    display: flex;
    justify-content: center;
}

/* .Intro {
    text-align: center;
    color: white;
    padding-top: 25vh;
    width: 55vw;
    height: 50vh;
    background-color: red;
} */
.heading{
    font-family:  'Ubuntu', sans-serif;
    font-size: 28px;
}

.centreAbout{
    /* background-color: black; */
    height: 50vh;
    width: 56vw;
    text-align: center;
}
.heading{
color: white;
font-size: 35px;
}
.introduction{
    padding-top: 8%;
    font-size: 21px;
    color: white;
    text-align: justify;
    font-family: 'DM Sans', sans-serif;
}
.contactList ul{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.contactList li{
    list-style: none;
}
.fa {
    font-size: 20px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    padding-top: 12px;
    color: #141c3a;
    /* border: #6E07F3;
    border-style: solid;
    border-width: 0.2ch; */
}
.fa:hover{
    color: #6E07F3;
}
.ButtonHireMe{
    padding-top: 50px;
}
.ButtonHireMe button{
    background-color:#6E07F3;
    border-color: white;
    border-width: 2px;
    border-radius: 53px;
    color: white;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: 0;
    padding: 9px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
}
  
  .ButtonHireMe button:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .ButtonHireMe button:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }
  
@media (max-width:1300px) {
    html{
        font-size: 65%;
    }
    .logo img{
        height: 4.2rem;
        padding-left: 2rem;
        padding-top: 3rem;
        /* left-padding: 2rem 0 0 0; */
    }
    .Tabs{
    padding-top: 4rem;
    padding-right: 3.125rem;
    }
    .webImg img{
        height:20rem;
}
}
@media (max-width: 530px) {
    html{
        font-size: 40%;
    }
    .Tabs{
        padding-top: 4rem;
    padding-right: 3.125rem;
    }
    .Img img {
        height: 45rem;
    }
    .logo img{
        height: 4rem;
        padding-left:3rem;
        padding-top: 3rem;
        /* left-padding: 2rem 0 0 0; */
    }
    .webImg img{
        height:20rem;
    }
    .about{
        padding-top: 3.3rem;
        font-size: 1.5rem;
    }
    .name{
        font-size: 4.7rem;
    }
}
@media(max-width: 322px)
{
    html{
        font-size: 25%;
    }
    .about{
        padding-top: 5rem;
        font-size: 1.5rem;
    }
    .name{
        font-size: 4.7rem;
        padding-top: 45px;
    }
    .Tabs{
        padding-top: 5rem;
    padding-right: 3.125rem;
    }
    .logo img{
        /* height: 4rem;
        padding-left:3rem; */
        padding-top: 4.5rem;
        /* left-padding: 2rem 0 0 0; */
    }
}